﻿<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Call Center - @ViewBag.Title</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        <style type="text/css">
            @@import url('http://fonts.googleapis.com/css?family=Open+Sans:200,300');
            body {
	            /*background: url('/Content/Common/images/back3.jpg') no-repeat center center fixed;*/
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
  	            /*background-color:#74B359;*/
                background-color:#CCE3C3;
  	            font-family: 'Open Sans',Arial,Helvetica,Sans-Serif;
            }
            .dropdown-submenu {
                position: relative;
            }
            .dropdown-submenu > .dropdown-menu {
                top: 0;
                left: 100%;
                margin-top: -6px;
                margin-left: -1px;
            }
            .dropdown-submenu:hover > .dropdown-menu {
                display: block;
            }
            .dropdown-submenu:hover > a:after {
                border-left-color: #fff;
            }
            .dropdown-submenu.pull-left {
                float: none;
            }
            .dropdown-submenu.pull-left > .dropdown-menu {
                left: -100%;
                margin-left: 10px;
            }
            .caret-right {
                float:right;
                display: inline-block;
                width: 0;
                height: 0;
                margin-left: 2px;
                vertical-align: middle;
                border-left: 5px solid;
                border-left-color:#999999;
                border-bottom: 5px solid transparent;
                border-top: 5px solid transparent;
                margin-top:5px;
                margin-right:-8px;
            }
        </style>
    </head>
    <body>
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    @*@Html.ActionLink("Call Center", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
                    <a class="navbar-brand" href="/Home/Index" style="padding-top: 0px; padding-bottom: 0px;">
                        <img alt="SOC Asesores" src="~/Content/Common/images/logo2.png" width="118" height="50">
                    </a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Marketing<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li role="separator" class="divider"></li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Cat&aacute;logos<span class="caret-right"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a tabindex="-1" href="@Url.Action(@"Index", @"AdvertisingCampaign", new { Area = "Marketing" })">Campañas publicitarias</a></li>
                                        <li role="separator" class="divider"></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Call Center<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Clientes prospecto</a></li>
                                <li role="separator" class="divider"></li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Cat&aacute;logos<span class="caret-right"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a tabindex="-1" href="#">Tipos Seguridad Social</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="#">Estatus Prospecto</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Seguridad<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Empleados</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Perfiles</a></li>
                                <li><a href="#">Usuarios</a></li>
                            </ul>
                        </li>
                        @*<li>@Html.ActionLink("Marketing", "Index", "Home")</li>*@
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>Call Center - &copy; @DateTime.Now.Year</p>
            </footer>
        </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
        <script type="text/javascript">
            $(document).ready(function () {
                // For the Second level Dropdown menu, highlight the parent
                $(".dropdown-menu").mouseenter(function () {
                    $(this).parent('li').addClass('active');
                }).mouseleave(function () {
                    $(this).parent('li').removeClass('active');
                });
            });
        </script>
    </body>
</html>
