﻿@{
    ViewBag.Title = "Inicio";
}
<br />
<div id="carousel-home-index" class="carousel slide" data-ride="carousel" data-interval="3000" data-pause="false" data-wrap="true" data-keyboard="false">
    <!-- Indicators -->
    @*<ol class="carousel-indicators">
        <li data-target="#carousel-home-index" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-home-index" data-slide-to="1"></li>
        <li data-target="#carousel-home-index" data-slide-to="2"></li>
        <li data-target="#carousel-home-index" data-slide-to="3"></li>
    </ol>*@
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/Content/Home/images/Carrusel01.jpg" alt="">
            <div class="carousel-caption">
                <h3></h3>
                <p></p>
            </div>
        </div>
        <div class="item">
            <img src="~/Content/Home/images/Carrusel02.jpg" alt="">
            <div class="carousel-caption">
                <h3></h3>
                <p></p>
            </div>
        </div>
        <div class="item">
            <img src="~/Content/Home/images/Carrusel03.jpg" alt="">
            <div class="carousel-caption">
                <h3></h3>
                <p></p>
            </div>
        </div>
        <div class="item">
            <img src="~/Content/Home/images/Carrusel04.jpg" alt="">
            <div class="carousel-caption">
                <h3></h3>
                <p></p>
            </div>
        </div>
    </div>
    <!-- Controls -->
    @*<a class="left carousel-control" href="#carousel-home-index" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-home-index" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>*@
</div>
