﻿@model Domain.CallCenter.DTO.ProspectiveClientDetailDto
@{
    ViewBag.Title = "Editar Prospecto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Editar</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
   <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    @*@Html.Label("Nuevo Prospecto para crédito")*@
                    <h4>Editar Prospecto</h4>
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.PC.Id)
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <fieldset>
                        <legend></legend>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row form-group">
                                    <div class="col-md-1">
                                        @Html.LabelFor(model => model.PC.ProspectiveClientStatusId, new { @class = "control-label" })
                                    </div>
                                    <div class="col-md-3">
                                        @*@Html.DropDownList("ProspectiveClientStatusId", null, htmlAttributes: new { @class = "form-control" })*@
                                        @Html.TextBoxFor(model => model.PC.ProspectiveClientStatusId, new { type = "text", @class = "form-control input-sm", placeholder = "Status" })
                                        @Html.ValidationMessageFor(model => model.PC.ProspectiveClientStatusId, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-offset-5 col-md-2">
                                        <a class="btn btn-primary" href="@Url.Action(@"Index", @"ProspectiveClientDetailDto", null)">Re-asignar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <fieldset>
                        <legend>Datos Prospecto</legend>
                        <div class="row form-group">
                            <div class="col-md-2">
                                @Html.LabelFor(model => model.PC.FirstName, htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.PC.FirstName, new { type = "text", @class = "form-control input-sm", placeholder = "Ingrese nombre" })
                                @Html.ValidationMessageFor(model => model.PC.FirstName, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-2">
                                @Html.LabelFor(model => model.PC.SecondName, htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.PC.SecondName, new { type = "text", @class = "form-control input-sm", placeholder = "Ingrese segundo nombre" })
                                @Html.ValidationMessageFor(model => model.PC.SecondName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-2">
                                @Html.LabelFor(model => model.PC.LastName1, htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.PC.LastName1, new { type = "text", @class = "form-control input-sm", placeholder = "Ingrese apellido" })
                                @Html.ValidationMessageFor(model => model.PC.LastName1, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-2">
                                @Html.LabelFor(model => model.PC.LastName2, htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.PC.LastName2, new { type = "text", @class = "form-control input-sm", placeholder = "Ingrese apellido" })
                                @Html.ValidationMessageFor(model => model.PC.LastName1, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-2">
                                @Html.LabelFor(model => model.PC.BirthDate, htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-4">
                                <div class="input-group input-group-sm date" id="divPC_BirthDate">
                                    @Html.TextBoxFor(model => model.PC.BirthDate, "{0:dd/MM/yyyy}", new { type = "text", @class = "form-control input-sm", placeholder = "Seleccione fecha de nacimiento" })
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                </div>
                                @Html.ValidationMessageFor(model => model.PC.BirthDate, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-2">
                                @Html.LabelFor(model => model.PC.Telephone1, htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.PC.Telephone1, new { type = "text", @class = "form-control input-sm", placeholder = "55-55-55-55-55" })
                                @Html.ValidationMessageFor(model => model.PC.Telephone1, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-2">
                                @Html.LabelFor(model => model.PC.Telephone2, htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.PC.Telephone2, new { type = "text", @class = "form-control input-sm", placeholder = "55-55-55-55-55" })
                                @Html.ValidationMessageFor(model => model.PC.Telephone2, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-2">
                                @Html.LabelFor(model => model.PC.Email1, htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-4">
                                <div class="input-group input-group-sm">
                                    @Html.TextBoxFor(model => model.PC.Email1, new { type = "text", @class = "form-control input-sm", placeholder = "ejemplo@ejemplo.com" })
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                </div>
                                @Html.ValidationMessageFor(model => model.PC.Email1, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-2">
                                @Html.LabelFor(model => model.PC.Email2, htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-4">
                                <div class="input-group input-group-sm">
                                    @Html.TextBoxFor(model => model.PC.Email2, new { type = "text", @class = "form-control input-sm", placeholder = "ejemplo@ejemplo.com" })
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                </div>
                                @Html.ValidationMessageFor(model => model.PC.Email2, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-2">
                                @Html.LabelFor(model => model.PC.ResidenceLocationId, htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.PC.ResidenceLocationId, new { type = "text", @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(model => model.PC.ResidenceLocationId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-2">
                                @Html.LabelFor(model => model.PC.BirthLocationId, htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.PC.BirthLocationId, new { type = "text", @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(model => model.PC.BirthLocationId, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-2">
                                @Html.LabelFor(model => model.PC.CURP, htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.PC.CURP, new { type = "text", @class = "form-control input-sm", placeholder = "Ingrese CURP" })
                                @Html.ValidationMessageFor(model => model.PC.CURP, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-2">
                                @Html.LabelFor(model => model.PC.RFC, htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.PC.RFC, new { type = "text", @class = "form-control input-sm", placeholder = "Ingrese RFC" })
                                @Html.ValidationMessageFor(model => model.PC.RFC, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <hr />
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <fieldset>
                        <legend>Datos del Inmueble</legend>
                        <div class="row form-group">
                            <div class="col-md-2">
                                @Html.LabelFor(model => model.PC.PropertyValue, htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.PC.PropertyValue, new { type = "text", @class = "form-control input-sm", placeholder = "$00.00" })
                                @Html.ValidationMessageFor(model => model.PC.PropertyValue, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-2">
                                @Html.LabelFor(model => model.PC.Deposit, htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.PC.Deposit, new { type = "text", @class = "form-control input-sm", placeholder = "$00.00" })
                                @Html.ValidationMessageFor(model => model.PC.Deposit, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-2">
                                @Html.LabelFor(model => model.PC.RequestedAmount, htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.PC.RequestedAmount, new { type = "text", @class = "form-control input-sm", placeholder = "$00.00" })
                                @Html.ValidationMessageFor(model => model.PC.RequestedAmount, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-2">
                                @Html.LabelFor(model => model.PC.PropertyTypeId, htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.PC.PropertyTypeId, new { type = "text", @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(model => model.PC.PropertyTypeId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-2">
                                @Html.LabelFor(model => model.PC.CreditTypeId, htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.PC.CreditTypeId, new { type = "text", @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(model => model.PC.CreditTypeId, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-2">
                                @Html.LabelFor(model => model.PC.PurchaseTypeId, htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.PC.PropertyTypeId, new { type = "text", @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(model => model.PC.PropertyTypeId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-2">
                                @Html.LabelFor(model => model.PC.LocationStateId, htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.PC.LocationStateId, new { type = "text", @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(model => model.PC.LocationStateId, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-2">
                                @Html.LabelFor(model => model.PC.LocationCityId, htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.PC.LocationCityId, new { type = "text", @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(model => model.PC.LocationCityId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <hr />
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <fieldset>
                        <legend>Datos Laborales</legend>
                        <div class="row form-group">
                            <div class="col-md-2">
                                @Html.LabelFor(model => model.PCD.NSS, htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.PCD.NSS, new { type = "text", @class = "form-control input-sm", placeholder = "Ingrese NSS" })
                                @Html.ValidationMessageFor(model => model.PCD.NSS, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-2">
                                @Html.LabelFor(model => model.PCD.SocialSecurityTypesId, htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.PCD.SocialSecurityTypesId, new { type = "text", @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(model => model.PCD.SocialSecurityTypesId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-2">
                                @Html.LabelFor(model => model.PCD.MonthlySalary1, htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.PCD.MonthlySalary1, new { type = "text", @class = "form-control input-sm", placeholder = "* $00.00" })
                                @Html.ValidationMessageFor(model => model.PCD.MonthlySalary1, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-2">
                                @Html.LabelFor(model => model.PCD.Antiquity1, htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.PCD.Antiquity1, new { type = "text", @class = "form-control input-sm", placeholder = "1 año" })
                                @Html.ValidationMessageFor(model => model.PCD.Antiquity1, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-2">
                                @Html.Label("Independiente")
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-2">
                                @Html.LabelFor(model => model.PCD.MonthlySalary2, htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-2">
                                @Html.TextBoxFor(model => model.PCD.MonthlySalary2, new { type = "text", @class = "form-control input-sm", placeholder = "* $00.00" })
                                @Html.ValidationMessageFor(model => model.PCD.MonthlySalary2, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-2">
                                @Html.LabelFor(model => model.PCD.IsActiveSAT, htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-2">
                                @Html.CheckBoxFor(model => model.PCD.IsActiveSAT.Value, new { @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(model => model.PCD.IsActiveSAT.Value, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-2">
                                @Html.LabelFor(model => model.PCD.Antiquity2, htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-2">
                                @Html.TextBoxFor(model => model.PCD.Antiquity2, new { type = "text", @class = "form-control input-sm", placeholder = "1 año" })
                                @Html.ValidationMessageFor(model => model.PCD.Antiquity2, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-2">
                                @Html.LabelFor(model => model.PCD.Activiy, htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.PCD.Activiy, new { type = "text", @class = "form-control input-sm", placeholder = "Ingrese actividad" })
                                @Html.ValidationMessageFor(model => model.PCD.Activiy, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-2">
                                @Html.LabelFor(model => model.PCD.MoneyReceipt, htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.PCD.MoneyReceipt, new { type = "text", @class = "form-control input-sm", placeholder = "*Recibo nomina..." })
                                @Html.ValidationMessageFor(model => model.PCD.MoneyReceipt, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <hr />
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <fieldset>
                        <legend>Otros</legend>
                        <div class="row form-group">
                            <div class="col-md-2">
                                @Html.LabelFor(model => model.PCD.CivilStatusId, htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-2">
                                @Html.TextBoxFor(model => model.PCD.CivilStatusId, new { type = "text", @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(model => model.PCD.CivilStatusId, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-2">
                                @Html.LabelFor(model => model.PCD.IsWorngCreditBureau, htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-2">
                                @Html.CheckBoxFor(model => model.PCD.IsWorngCreditBureau.Value, new { @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(model => model.PCD.IsWorngCreditBureau, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-2">
                                @Html.LabelFor(model => model.PCD.IsHasCreditHistory, htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-2">
                                @Html.CheckBoxFor(model => model.PCD.IsHasCreditHistory.Value, new { @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(model => model.PCD.IsHasCreditHistory, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-2">
                                @Html.LabelFor(model => model.PCD.DebtMonthly, htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.PCD.DebtMonthly, new { type = "text", @class = "form-control input-sm", placeholder = "$00.00" })
                                @Html.ValidationMessageFor(model => model.PCD.DebtMonthly, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-2">
                                @Html.LabelFor(model => model.PCD.ProblemType, htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.PCD.ProblemType, new { type = "text", @class = "form-control input-sm", placeholder = "Ingrese problema" })
                                @Html.ValidationMessageFor(model => model.PCD.ProblemType, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-2">
                                @Html.LabelFor(model => model.PCD.Observations, htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.PCD.Observations, new { type = "text", @class = "form-control input-sm", placeholder = "Escriba observaciones" })
                                @Html.ValidationMessageFor(model => model.PCD.Observations, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-2">
                    <a class="btn btn-primary" href="@Url.Action(@"Index", @"ProspectiveClientDetailDto", null)">Regresar</a>
                </div>
                <div class="form-group col-md-2 col-md-offset-8">
                    <input type="submit" class="btn btn-primary" value="Guardar" />
                </div>
            </div>
       </div>
   </div>
}

  @section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap-datepicker")
    @Scripts.Render("~/bundles/bootbox")
    @Scripts.Render("~/bundles/bootstrap-switch")
    <script type="text/javascript">
            $(document).ready(function () {
                // Datepicker
                var datepickerConfig = { format: "dd/mm/yyyy", todayBtn: "linked", clearBtn: true, language: "es", autoclose: true, todayHighlight: true };
                $('#divPC_BirthDate').datepicker(datepickerConfig);
                // Modal Dialog (Alert)
                if ($("#HasAlert").val() == "true") {
                    var alertText1 = $("#AlertText1").val();
                    var alertText2 = $("#AlertText2").val();
                    var htmlMessage = "<div class='text-center'>" + alertText1 + "</div><div class='text-center'>" + alertText2 + "</div>";
                    bootbox.setLocale("es");
                    var dialog = bootbox.alert({ title: "Alerta", message: htmlMessage, size: null, onEscape: true, closeButton: true });
                    $("#HasAlert").val("false"); //empty the value so that it won't show everytime
                    $("#AlertText1").val("");
                    $("#AlertText2").val("");
                }
                // Switch
                // Override the default options of the library
                $.fn.bootstrapSwitch.defaults.size = 'small';
                $.fn.bootstrapSwitch.defaults.onColor = 'primary';
                $.fn.bootstrapSwitch.defaults.offColor = 'default';
                $.fn.bootstrapSwitch.defaults.onText = 'Si';
                $.fn.bootstrapSwitch.defaults.offText = 'No';
                $("#PCD_IsActiveSAT_Value").bootstrapSwitch();
                $("#PCD_IsWorngCreditBureau_Value").bootstrapSwitch();
                $("#PCD_IsHasCreditHistory_Value").bootstrapSwitch();
            });
        </script>   
  }