﻿@model Domain.CallCenter.ProspectiveClient

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ProspectiveClient</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AdvertisingCampaign.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdvertisingCampaign.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreditType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreditType.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocationCity.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationCity.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocationState.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationState.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PropertyType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PropertyType.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProspectiveClientDetail.NSS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProspectiveClientDetail.NSS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProspectiveClientStatus.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProspectiveClientStatus.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurchaseType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaseType.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecondName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecondName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telephone1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telephone1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telephone2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telephone2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResidenceLocationId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResidenceLocationId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthLocationId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthLocationId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CURP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CURP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RFC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RFC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PropertyValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PropertyValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Deposit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deposit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequestedAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestedAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BrokerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrokerId)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
