﻿@model IEnumerable<Domain.CallCenter.ProspectiveClient>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AdvertisingCampaign.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreditType.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocationCity.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocationState.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PropertyType.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProspectiveClientDetail.NSS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProspectiveClientStatus.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PurchaseType.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecondName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirthDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telephone1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telephone2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResidenceLocationId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirthLocationId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CURP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RFC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PropertyValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Deposit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestedAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BrokerId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AdvertisingCampaign.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreditType.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocationCity.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocationState.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PropertyType.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProspectiveClientDetail.NSS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProspectiveClientStatus.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PurchaseType.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SecondName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BirthDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telephone1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telephone2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResidenceLocationId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BirthLocationId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CURP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RFC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PropertyValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Deposit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequestedAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BrokerId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
