﻿@model Domain.CallCenter.ProspectiveClientDetail

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ProspectiveClientDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CivilStatus.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CivilStatus.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProspectiveClient.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProspectiveClient.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SocialSecurityTypes.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SocialSecurityTypes.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NSS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NSS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MonthlySalary1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonthlySalary1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Antiquity1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Antiquity1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MonthlySalary2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonthlySalary2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Antiquity2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Antiquity2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActiveSAT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActiveSAT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activiy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activiy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoneyReceipt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoneyReceipt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsWorngCreditBureau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsWorngCreditBureau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DebtMonthly)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DebtMonthly)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProblemType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProblemType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsHasCreditHistory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsHasCreditHistory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observations)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observations)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
