﻿@model IEnumerable<Domain.CallCenter.ProspectiveClientDetail>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CivilStatus.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProspectiveClient.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SocialSecurityTypes.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NSS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MonthlySalary1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Antiquity1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MonthlySalary2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Antiquity2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActiveSAT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Activiy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MoneyReceipt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsWorngCreditBureau)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DebtMonthly)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProblemType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsHasCreditHistory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Observations)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CivilStatus.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProspectiveClient.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SocialSecurityTypes.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NSS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MonthlySalary1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Antiquity1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MonthlySalary2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Antiquity2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActiveSAT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Activiy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MoneyReceipt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsWorngCreditBureau)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DebtMonthly)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProblemType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsHasCreditHistory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Observations)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProspectiveClientId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProspectiveClientId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProspectiveClientId })
        </td>
    </tr>
}

</table>
