﻿@model Domain.CallCenter.AdvertisingCampaign
@{
    ViewBag.Title = "Crear Campaña publicitaria";
    Layout = "~/Views/Shared/_Layout.cshtml";
    #region Modal Dialog (Alert)
    String hasAlert = @"false";
    String alertText1 = String.Empty;
    String alertText2 = String.Empty;
    if (TempData["HasAlert"] != null)
    {
        if ((Boolean)TempData["HasAlert"])
        {
            hasAlert = @"true";
            alertText1 = (String)TempData["AlertText1"];
            alertText2 = (String)TempData["AlertText2"];
        }
    }
    #endregion Modal Dialog (Alert)
}
<h2>Crear</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    // Modal Dialog (Alert)
    @Html.Hidden("HasAlert", @hasAlert)
    @Html.Hidden("AlertText1", @alertText1)
    @Html.Hidden("AlertText2", @alertText2)
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <fieldset>
                        <legend>Campaña Publicitaria</legend>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row form-group">
                                    <div class="col-md-1">
                                        @Html.LabelFor(model => model.Name, new { @class = "control-label" })
                                    </div>
                                    <div class="col-md-11">
                                        @Html.TextBoxFor(model => model.Name, new { type = "text", @class = "form-control input-sm", placeholder = "Nombre de la campaña" })
                                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row form-group">
                                    <div class="col-md-3">
                                        @Html.LabelFor(model => model.DateStart, new { @class = "control-label" })
                                    </div>
                                    <div class="col-md-7">
                                        <div class="input-group input-group-sm date" id="divDateStart">
                                            @Html.TextBoxFor(model => model.DateStart, "{0:dd/MM/yyyy}", new { type = "text", @class = "form-control input-sm", placeholder = "Fecha inicial del periodo de la campaña" })
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.DateStart, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row form-group">
                                    <div class="col-md-3">
                                        @Html.LabelFor(model => model.DateEnd, new { @class = "control-label" })
                                    </div>
                                    <div class="col-md-7">
                                        <div class="input-group input-group-sm date" id="divDateEnd">
                                            @Html.TextBoxFor(model => model.DateEnd, "{0:dd/MM/yyyy}", new { type = "text", @class = "form-control input-sm", placeholder = "Fecha final del periodo de la campaña" })
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.DateEnd, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row form-group">
                                    <div class="col-md-1">
                                        @Html.LabelFor(model => model.ContactName, new { @class = "control-label" })
                                    </div>
                                    <div class="col-md-11">
                                        @Html.TextBoxFor(model => model.ContactName, new { type = "text", @class = "form-control input-sm", placeholder = "Nombre del contacto" })
                                        @Html.ValidationMessageFor(model => model.ContactName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row form-group">
                                    <div class="col-md-3">
                                        @Html.LabelFor(model => model.ContactEmail, new { @class = "control-label" })
                                    </div>
                                    <div class="col-md-7">
                                        <div class="input-group input-group-sm">
                                            @Html.TextBoxFor(model => model.ContactEmail, new { type = "email", @class = "form-control input-sm", placeholder = "Correo electrónico del contacto" })
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.ContactEmail, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row form-group">
                                    <div class="col-md-3">
                                        @Html.LabelFor(model => model.ContactPhoneNumber, new { @class = "control-label" })
                                    </div>
                                    <div class="col-md-7">
                                        <div class="input-group input-group-sm">
                                            @Html.TextBoxFor(model => model.ContactPhoneNumber, new { type = "tel", @class = "form-control input-sm", placeholder = "Número teléfonico del contacto" })
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-phone-alt"></i></span>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.ContactPhoneNumber, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <a class="btn btn-primary" href="@Url.Action(@"Index", @"AdvertisingCampaign", null)">Regresar</a>
                </div>
                <div class="form-group col-md-1 col-md-offset-9">
                    <input type="submit" class="btn btn-primary" value="Crear" />
                </div>
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap-datepicker")
    @Scripts.Render("~/bundles/bootbox")
    <script type="text/javascript">
        $(document).ready(function () {
            // Datepicker
            var datepickerConfig = { format: "dd/mm/yyyy", todayBtn: "linked", clearBtn: true, language: "es", autoclose: true, todayHighlight: true };
            $('#divDateStart').datepicker(datepickerConfig);
            $('#divDateEnd').datepicker(datepickerConfig);
            // Modal Dialog (Alert)
            if ($("#HasAlert").val() == "true") {
                var alertText1 = $("#AlertText1").val();
                var alertText2 = $("#AlertText2").val();
                var htmlMessage = "<div class='text-center'>" + alertText1 + "</div><div class='text-center'>" + alertText2 + "</div>";
                bootbox.setLocale("es");
                var dialog = bootbox.alert({ title: "Alerta", message: htmlMessage, size: null, onEscape: true, closeButton: true });
                $("#HasAlert").val("false"); //empty the value so that it won't show everytime
                $("#AlertText1").val("");
                $("#AlertText2").val("");
            }
        });
    </script>
}
